/* Фоновые цвет */
/* background: #FFFFFF; фон страницы */
/* background: #2F303A; вторичный фон - Секция Заказ услуг  и Футер*/
/* color: #F5F4FA; цвет фона секции Наша команда */

/* color: #757575; основной цвет текста */
/* color: #212121; вторичный цвет текста */
/* color: #2196f3; цвет ссылок ховер */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --background-color-primary: #2f303a;
  --background-color-secondary: #f5f4fa;
}

/*      Глобальные стили        */

.link {
  text-decoration: none;
}

/* Убрать точки из списков */
.list {
  list-style: none;
}
/* Общий стиль для странцы */
.page-body {
  font-family: Roboto;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  justify-content: center;
  background: #ffffff;
  color: var(--primary-text-color);
}

/* ------------------------ */

/*          Хэдер           */
/* Логотип */
.logo {
  left: 215px;
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.page-header,
.main-nav {
  justify-content: center;

  display: flex;
  align-items: center;
}

.nav-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  display: flex;
  align-items: center;
}

.nav-auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}
/*  Конец Хэдера */

/* Заказ услуг */

.ourskills-list,
.quality-list {
  display: flex;
}

.order-section {
    margin-right:auto;
    margin-left:auto;
    padding-top: 200px;
    background-color: var(--background-color-primary);
}

.order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;  
  
  align-items: center;
  cursor: pointer;
  margin-bottom: 200px;
  color: #ffffff;
}

.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.quality-content {
  font-size: 14px;
  line-height: 1.71;

  /* or 171% */
  letter-spacing: 0.03em;
}

.ourskills-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  background: #ffffff;

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-section {
  padding-bottom: 94px;
  background-color: var(--background-color-secondary);
}

.team-list {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.address-list-street,
.address-list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list-street {
  color: white;
}

.filter-item .filter-btn:hover,
.filter-item .filter-btn:focus {
  color: white;
  background-color: var(--accent-color);
}

.address-list a:hover,
.nav-items a:hover,
.nav-auth a:hover,
.address-list a:focus,
.nav-items a:focus,
.nav-auth a:focus {
  color: var(--accent-color);
}

.page-footer {
  background-color: var(--background-color-primary);
}

.lastpart-logo-head {
  color: black;
}

.lastpart-logo-foot {
  color: white;
}

.team-title {
  color: var(--title-text-color);
}

.team-name {
  color: var(--title-text-color);
}
