/* Фоновые цвет */
/* background: #FFFFFF; фон страницы */
/* background: #2F303A; вторичный фон - Секция Заказ услуг  и Футер*/
/* color: #F5F4FA; цвет фона секции Наша команда */

/* color: #757575; основной цвет текста */
/* color: #212121; вторичный цвет текста */
/* color: #2196f3; цвет ссылок ховер */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --background-color-primary: #2f303a;
  --background-color-secondary: #f5f4fa;
}

/*      Глобальные стили        */

/* Убрать отступы у блоков */
/* * {
  margin: 0;
  padding: 0;
} */

/* Убрать подчеркивание на всех ссылках */
.link {
  text-decoration: none;
}

/* Глобальные атрибуты для списков */
.list {
  list-style: none;
}

/* Общий стиль для странцы */
.main-body {  
  font-family: Roboto;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  /* justify-content: center; */
  background: #ffffff;
  color: var(--primary-text-color);
}

/* ------------------------ */

/*  -------------- Хэдер ----------------          */
/* Логотип */
.logo {
  /* left: 215px; */
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.lastpart-logo-header {
  color: black;
}

.main-header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}


.main-navigation {
  /* justify-content: center; */

  display: flex;
  align-items: center;
}

.main-navigation-pages {
  /* dub */
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* not work */
  color: var(--title-text-color);
  display: flex;
  /* align-items: center; */
  margin-left: 93px;
}

.main-navigation-pages > li {
  margin-right: 50px;
}
.main-navigation-pages > li:last-child {
  margin-right: 0px;
}
.pages-text-color {
  color: var(--title-text-color);
}
.contacts-text-color {
  color: var(--primary-text-color);
}
.active-color {
  color: var(--accent-color);
}

.main-navigation-contacts {
  /* dub */
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.main-navigation-contacts > li {
  margin-left: 50px;
}

/* Ховеры */
.contacts-text-color:hover,
.contacts-text-color:focus,
.pages-text-color:focus,
.pages-text-color:hover {
  color: var(--accent-color);
}

/* ------------- Конец Хэдера ---------------*/


/* Заказ услуг */

.ourskills-list,
.quality-list {
  display: flex;
}

.order-section {
  
    margin-right:auto;
    margin-left:auto;
    padding-top: 200px;
    background-color: var(--background-color-primary);
}

.order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;  
  
  align-items: center;
  cursor: pointer;
  margin-bottom: 200px;
  color: #ffffff;
}

.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.quality-content {
  font-size: 14px;
  line-height: 1.71;

  /* or 171% */
  letter-spacing: 0.03em;
}

.ourskills-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  background: #ffffff;

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-section {
  padding-bottom: 94px;
  background-color: var(--background-color-secondary);
}

.team-list {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}


.filter-item .filter-btn:hover,
.filter-item .filter-btn:focus {
  color: white;
  background-color: var(--accent-color);
}


.team-title {
  color: var(--title-text-color);
}

.team-name {
  color: var(--title-text-color);
}

/*  ----------  Футер  --------------  */

.main-footer {
  background-color: var(--background-color-primary);
}

.address-footer-text-color,
.address-list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-footer-text-color {
  color: white;
}
.contacts-footer-text-color {
  color: var(--link-footer-color);
}
.lastpart-logo-footer {
  color: white;
}